@charset "UTF-8";
body{
	background-color: #999999;
}

.box{
	border: black 1px solid;/*境界線*/
	box-shadow : 0px 0px 15px 0px rgba(98,98,98,0.9);
	width : 470px;
	padding : 100px;
	text-align : center;
	margin :auto;
	margin-top :60px;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color : white;
}
	
table{
	/*テーブルはtext-align : centerで動かないので注意。*/
	margin : auto;
}

.button{
	padding-top:20px;
}