<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>確認画面</title>
<link th:href="@{/css/register.css}" rel="styleSheet">
</head>
<body>
	<div class = "box">
	<img src ="img/Twitterオマージュねこ小.png">
	<form th:action ="@{/submitted}" method ="post" th:object ="${registerForm}">
	
	<h2>以下の情報で登録します。<br>よろしいですか？</h2>
	
	<p th:text="|メールアドレス	:*{mail}|"></p>
	<p th:text="|生年月日		:*{#dates.format(birth, 'yyyy年MM月dd日')}|"></p>
	<p th:text="|パスワード		:*セキュリティの為パスワードは表示されません*|"></p>
	
		<div class="button"><input type ="submit" value ="登録"></div>
	</div>
</body>
</html>