<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン</title>
<link th:href="@{/css/register.css}" rel="styleSheet">
</head>
<body>
	<div class = "box">
	<img src ="img/Twitterオマージュねこ小.png">
		<div class="header">
		<h2>ログインページ</h2>
		</div>
			<form th:action ="@{/home}" method ="post" th:object ="${insertForm}">
	
			<table border="1">
				<!--1行目！！！！！！-->
					<tr>
						<td>
							メールアドレス
						</td>
						<td>
						<input type ="text" th:field ="*{mail}">
						</td>
					</tr>
				<!--2行目！！！！-->
					<tr>
						<td>
							パスワード
						</td>
						<td>
							<input type ="password" th:field ="*{pass}">
						</td>
					</tr>
			</table>
			<div class="button"><input type ="submit" value ="ログイン"></div>
			
			<div class ="link">
			<p>新規登録は<a href ="register">こちら</a></p>
			<p>パスワードをお忘れの方は<a href ="renewal">こちら</a></p>
			</div>
	
			<!--エラーの表示-->
			<ul th:if ="${#fields.hasErrors('*')}">
			<li th:each ="err:${#fields.errors('*')}" th:text ="${err}"></li>
			</ul>
	</div>	
</body>
</html>