<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ログイン画面</title>
<link th:href="@{/css/register.css}" rel="styleSheet">
</head>
<body>
<div class="backgr">
	<div class = "box">
	<img src ="img/Twitterオマージュねこ小.png">
		<div class="header">
		<h2>ログインページ</h2>
		</div>
	<form th:action ="@{/home}" method ="post" th:object ="${insertForm}">
	
	<div>
		<p>メールアドレス：<input type ="text" th:field ="*{mail}"></p>
		<p>パスワード：<input type ="text" th:field ="*{pass}"></p>
	</div>
	
	<input type ="submit" value ="ログイン">
	
	<p>新規登録は<a href ="register">こちら</a>から</p>
	
	
	<!--エラーの表示-->
	<ul th:if ="${#fields.hasErrors('*')}">
		<li th:each ="err:${#fields.errors('*')}" th:text ="${err}"></li>
	</div>	
</div>
</body>
</html>