<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>会員登録</title>
<!--src/main/resources/static/css/register-->
<link th:href="@{/css/register.css}" rel="styleSheet">
</head>
<body>
	<div class = "box">
		<img src ="img/Twitterオマージュねこ小.png">
		<div class="header">
		<h2>新規会員登録をしよう！</h2>
		</div>
		<form th:action ="@{/newmember}" method ="post" th:object ="${registerForm}">
			<table border="1">
			<!--1行目！！！！！！-->
				<tr>
					<td>
						メールアドレス
					</td>
					<td>
						<input type ="text" th:field ="*{mail}">
					</td>
				</tr>
			<!--2行目！！！！！！-->
				<tr>
					<td>
						生年月日
					</td>
					<td>
						<input type ="date" th:field ="*{birth}">
					</td>
				</tr>
			<!--3行目！！！！-->
				<tr>
					<td>
						パスワード
					</td>
					<td>
						<input type ="password" th:field ="*{pass}">
					</td>
				</tr>
			</table>
	
		<div class="button"><input type ="submit" value ="登録"></div>
	
	<!--エラーの表示-->
		<ul th:if ="${#fields.hasErrors('*')}">
		<li th:each ="err:${#fields.errors('*')}" th:text ="${err}"></li>
	</div>

</body>
</html>