<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>パスワード再発行</title>
</head>
<body>
	<form th:action ="@{/remakepass}" method="post" th:object ="${renewalForm}">
				<table border="1">
			<!--1行目！！！！！！-->
				<tr>
					<td>
						メールアドレス
					</td>
					<td>
						<input type ="text" th:field ="*{mail}">
					</td>
				</tr>
			<!--2行目！！！！！！-->
				<tr>
					<td>
						生年月日
					</td>
					<td>
						<input type ="date" th:field ="*{birth}">
					</td>
				</tr>
			<!--3行目！！！！-->
				<tr>
					<td>
						新しいパスワード
					</td>
					<td>
						<input type ="password" th:field ="*{pass}">
					</td>
				</tr>
			</table>
	
		<input type ="submit" value ="パスワード再発行">
	
	<!--エラーの表示-->
		<ul th:if ="${#fields.hasErrors('*')}">
		<li th:each ="err:${#fields.errors('*')}" th:text ="${err}"></li>
</body>
</html>